# 기본 활성 프로파일
spring:
  profiles:
    active: dev
  application:
    name: discodeit
  boot:
    admin:
      client:
        instance:
          name: discodeit

discodeit:
  storage:
    type: local
    local:
      root-path: .discodeit/storage

# Spring Boot Actuator 설정
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,loggers  # 엔드포인트 노출
      base-path: /actuator  # Actuator 엔드포인트 기본 경로
  endpoint:
    health:
      show-details: always      # 건강 상태 상세 정보 표시
      show-components: always   # 컴포넌트별 상태 정보 표시
    info:
      enabled: true             # info 엔드포인트 명시적 활성화
    loggers:
      access: unrestricted
  # info 추가설정
  info:
    os:
      enabled: true
    java:
      enabled: true
    env:
      enabled: true

# 애플리케이션 정보 (Actuator info 엔드포인트용)
info:
  app:
    name: Discodeit
    version: 1.7.0
    encoding: UTF-8
    java:
      version: 17
    spring:
      version: 3.4.0
  datasource:
    url: ${spring.datasource.url}
    driver-class-name: ${spring.datasource.driver-class-name}
  jpa:
    ddl-auto: ${spring.jpa.hibernate.ddl-auto}
  storage:
    type: ${discodeit.storage.type}
    path: ${discodeit.storage.local.root-path}
  multipart:
    max-file-size: ${spring.servlet.multipart.max-file-size}
    max-request-size: ${spring.servlet.multipart.max-request-size}
