# server config
server:
  port: 8080


# logging config
logging:
  level:
    root: INFO # 기본 레벨
    # SQL 로그 출력
    org.hibernate.sql: DEBUG
    org.hibernate.jdbc.bind: TRACE

# Spring config
spring:
  # db config
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
  h2:
    console:
      enabled: true         # H2 웹 콘솔 사용 설정
      path: /h2-console     # 접속 경로 (기본값: /h2-console)
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database: h2
    database-platform: org.hibernate.dialect.H2Dialect
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: false
    # OSIV 비활성화
    open-in-view: false
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 20MB
  boot:
    admin:
      client:
        url: http://localhost:9090